/*PARA MODIFICAR CLASES DE BOOTSTRAP*/
.navbar-collapse
{
    flex-grow: 0;
}
.navbar-expand-lg
{
    justify-content: space-between;
}
.navbar-toggler
{
    color: white;
}
.container-fluid
{
    padding: 0px;
}
.row
{
    margin-right: 0px;
    margin-left: 0px;
}