@mixin FlexBoxConfig($Tflex, $Fdirection, $Fwrap, $Jcontent, $Jitems, $Aitems)
{
    display: $Tflex;
    flex-direction: $Fdirection;
    flex-wrap: $Fwrap;
    justify-content: $Jcontent;
    justify-items: $Jitems;
    align-items: $Aitems;
}
@mixin FontConfig($color, $size, $weight, $align:null)
{
    color: $color;
    font-size: $size;
    font-weight: $weight;
    @if $align == null {}
    @else if $align != null
    {text-align: $align;}
}
@mixin PositionFRA($position, $p_align, $p_tb, $p_lr)
{
    position: $position;
    @if $p_align == top_left
    {
        top: $p_tb;
        left: $p_lr;
    }
    @if $p_align == top_right
    {
        top: $p_tb;
        right: $p_lr;
    }
    @if $p_align == bottom_left
    {
        bottom: $p_tb;
        left: $p_lr;
    }
    @if $p_align == bottom_right
    {
        bottom: $p_tb;
        right: $p_lr;
    }
}