.Video
{
    width: 100%;
    @include FlexBoxConfig(flex, column, nowrap, center, center, center);
    margin-bottom: 20px;
    .Video__iframe
    {
        max-width: 560px;
        width: 95%;
        max-height: 315px;
    }
}
.ProductosArea
{
    background-color: #DCDCDC;
    padding: 0px;
}
.Categorias
{
    .Categorias__titulo
    {
        @include FontConfig(#000000, 18px, bold, center);
        text-transform: uppercase;
        padding: 20px 0px;
    }
    .Categorias__lista
    {
        @include FlexBoxConfig(flex, row, wrap, center, center, center);
        padding: 0px;
        list-style: none;
        @media (max-width: 1023px)
        {
            @include FlexBoxConfig(flex, row, wrap, center, center, center);
        }
    }
    .Categorias__ItemLista
    {
        margin: 20px auto;
        @media (max-width: 767px)
        {
            margin: 10px auto;
        }
    }
}
.Libros
{
    padding: 0.5em 0.5em;
    .Libros__contenedor
    {
        padding: 0.5em;
    }
    .Libros__producto
    {
        @include FlexBoxConfig(flex, column, nowrap,space-evenly, center, center);
        background-color: $c-sitio-2;
    }
    .Libros__titulo
    {
        @include FontConfig($c-blanco, 18px, normal, center);
        display: flex;
        align-items: center;
        padding: 10px 5px;
        height: 70px;
    }
    .Libros__imagen
    {
        width: 75%;
        transition: transform 1s;
        &:hover
        {
            transform: scale(1.4) translateY(-50px);
        }
    }
}
.MiTabla
{
	border-collapse: collapse;
	margin: 20px 120px 30px 40px;
    .MiTabla__cabecera
    {
        .MiTabla__data
        {
            @include FontConfig($c-blanco, 20px, bold, center);
            padding: 1em .2em;
            background-color: $c-sitio-2;
            @media (max-width: 767px)
            {
                font-size: 10px;
            }
        }
    }
    .MiTabla__cuerpo
    {
        .MiTabla__data
        {
            padding: 0px 10px;
        }
    }
    .MiTabla__Cimpar
    {
        background-color: #bebebe;
    }
    .MiTabla__Cpar
    {
        background-color: #e7e7e7;
    }
    .MiTabla__lista
    {
        list-style: none;
        margin: 0px;
        padding: 10px 0px;
    }
    @media (max-width: 1023px)
    {
        margin: 10px auto;
        width: 95%;
    }
    @media (max-width: 767px)
    {
        display: none;
    }
}