$Wtotal: 100%;
$orders: (facebook: 1, twitter: 4, instagram: 3, youtube: 2, linkedin: 5);
$bordes: (SI: top-left, SD: top-right, II: bottom-left, ID: bottom-right);
$redes: (
    facebook: #3b5998,
    twitter: #00acee,
    instagram: #833AB4,
    youtube: #c4302b,
    linkedin: #0e76a8);
/*COLORES DEL SITIO--------------*/
$color-principal-1: #0054FF;
$c-blanco: #FFFFFF;
$c-negro: #000000;
$c-invisible: transparent;
/*-------------------------------*/
$c-sitio-1: #0d1b25;
$c-sitio-2: #1f4c61;
$c-sitio-3: #353535;
$c-sitio-4: #386179;
/*-------------------------------*/
$colores-botones: (verde: #00a008, rojo: #ff0000);//agregar mas para más modificadores de botones
$colores-TitularesFondos: (turquesa: #0C1821);//agregar mas para más clases de fondos